h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-size: 105px;
    font-family: sans-serif;
    animation: rgb-animation 3s linear infinite;
}

@keyframes rgb-animation {
    0% {
        color: red;
    }

    25% {
        color: rgb(0, 255, 8);
    }

    50% {
        color: yellow;
    }

    75% {
        color: blue;
    }

    100% {
        color: rgb(255, 0, 0);
    }

}

p {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

a {
    color: white;
    font-family: sans-serif;
    font-size: 45px;
    text-decoration: none;

}

img {
    height: 170px;
    width: 100%;

}

a:hover {
  color: red;
}

img:hover {
    filter: brightness(1.6);
}

.fotao {
    height: 200px;
}

.fotao:hover {
    filter: brightness(1);
}

.titulo {
    text-align: left;
    font-size: 60px;
    text-decoration: none;
    margin-top: 100px;
}

.flex {
    display: flex;
    height: 190px;
    width: 100%;
}

.flex2 {
    display: flex;
    height: 190px;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
    margin-left: 10px;
}

.flex3 {
    display: flex;
    height: 190px;
    width: 100%;
}

.flex3 img {
    width: 300px;
}

.legenda {
    text-align: center;
}

.estrela {
    width: 400px;
    height: 250px;
    margin-left: 90px;
}

.estrela:hover {
    filter: brightness(1);
}

.nome {
    margin-top: 50px;
    margin-left: 20px;
}


.botao2 {
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
    color: red;
    border-radius: 30px;
    width: auto;
}

.botao2:hover {
    background-color: red;
    color: white;
    padding: 25px;
    font-size: 25px;
}

td {
    width: 50%;
}

.botao3 {
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
    background-color: black;
    color: red;
    border-radius: 30px;
}

.botao3:hover {
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 25px;
    text-decoration:underline;
}

.barra {
    background-color: rgb(0, 0, 0);
    height: 15vh;
    border-radius: 20px;
    display: flex;
    width: 100%;

}

.barra a {
    padding: 55px;
    align-self: center;
    justify-content: space-around;
    
}


h3 {
    color: white;
    font-size: 15px;
    align-self: end;
    text-align: right;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}



@media(max-width: 768px) {
    * {
        width: 100%;
        font-size: 14px;
    }

    h1 {
        font-size: 50px;
    }

    a {
        font-size: 20px;
    }

    .barra a {
        font-size: 20px;
        padding: 5px;
    }


    h3 {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }

    .titulo {
        font-size: 30px;
        text-align: center;
    }

    .estrela {
        width: 60%;
        height: 60%;
        margin-top: 30%;
        margin-left: 20%;
        position: absolute;
        
    }

    .flex {
        width: 100%;
        flex-direction: column;
        position: relative;
    }

   

    .legenda {
        font-size: 10px;
    }

    .flex2 {
            width: 100% ;
            display: flex;
            height: auto;
            align-items: center;
            margin-top: 25px;
            justify-content: center;
        }
        
    .botao2 {
        font-size: 10px;
        padding: 10px;
        margin-left: 15px;
        margin-top: 15px;
        width: auto;
    }

    .botao2:hover {
        font-size: 12px;
        padding: 12px;
        width: auto;
        margin: 2%;
    }

    .botao3 {
        font-size: 10px;
        padding: 10px;
        margin-left: 15px;
        margin-top: 15px;
        width: auto;
    }

    .botao3:hover {
        font-size: 12px;
        padding: 12px;
        width: auto;
        margin-right: 5px;
    }

    .flex3 img {
        width: 150px;
    }

    .nome {
        font-size: 20px;
        margin-left: -35px;
    }

    .fotao {
        width: 100%;
        margin-bottom: -60px;
    }

    iframe {
        width: 100%;
        height: 200px;
        margin-bottom: -60px;
    }
}
